.forU {
    display: flex;
    flex-direction: column;
    background-color: #334E34;
    border-radius: 1.25rem;
    box-sizing: border-box;
    min-width: 30vw;
    max-width: 30vw;
    min-height: 37vw;
    max-height: 37vw;
    padding: 2vh;
    margin: 1vw;
}

.special {
    color: white;
    margin-left: 2rem;
    align-content: center;
}

.all {
    background-color: #334E34;
    color: white;
    border: 2px solid white;
    border-radius: 1rem;
    max-width: 6vw;
    padding: 3px;
    margin-right: 2rem;
}

.itemsForU {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 16.5vw;
    max-height: 16.5vw;
}