.inTheCartRow {
    display: flex;
    flex-direction: row;
}

.inTheCartPicture {
    min-width: 10vw;
    max-width: 10vw;
    min-height: 10vw;
    max-height: 10vw;
    background-color: lightgray;
    border-radius: 1vh;
    margin-right: 2vw;
}

.cartItemName {
    padding-top: 1vh;
    min-height: 3vh;
    max-height: 3vh;
}

.selectedColor {
    min-height: 4vh;
    max-height: 4vh;
}

.cartInput {
    min-width: 3.5vw;
    max-width: 3.5vw;
    min-height: 3.5vh;
    max-height: 3.5vh;
    border: 1px solid lightgray;
    border-radius: 0.75vh;
    text-align: center;
    outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}

input[type=number]::-moz-inner-spin-button, 
input[type=number]::-moz-outer-spin-button {  

   opacity: 1;

}

.Cart.column {
    min-width: 20vw;
    max-width: 20vw;
}

.cartCheckbox {
    accent-color: #334E34;
    min-width: 1vw;
    max-width: 1vw;
    min-height: 1vw;
    max-height: 1vw;
    margin-left: 19vw;
}

.cartPrice {
    min-height: 3vh;
    max-height: 3vh;
}

.cartDelivery {
    min-height: 3vh;
    max-height: 3vh;
}

.cartPayNow {
    background-color: #334E34;
    border-radius: 1.5vh;
    color: white;
    margin-bottom: 0.25vh;
    min-height: 4.5vh;
    max-height: 4.5vh;
}

.cartDelete {
    border: 0.25vh solid #334E34;
    border-radius: 1.5vh;
    background-color: white;
    color: #334E34;
    margin-top: 0.25vh;
    min-height: 4.5vh;
    max-height: 4.5vh;
}